<div class="meal-form">
   <form [formGroup]="form">
       <div class="meal-form__name">
         <label>
             <h3>Meal Name</h3>
             <input type="text" placeholder="Breaakfast" formControlName="name">
             <div class="error" *ngIf="required">
                 Workout is required
             </div>
         </label>
       </div>
       <div class="meal-form__food">
            <div class="meal-form__subtitle">
                   <h3>Food</h3> 
                   <button  (click)="addIngrediant()" type="button" class="meal-form__add">
                         <img src="../../../assets/image/add-white.svg">
                         Add Food
                   </button>
            </div>
            <div formArrayName="ingredients">
               <label *ngFor="let c of ingredients.controls; index as i">
                   <input [formControlName]="i" placeholder="panner">
                   <span class="meal-form__remove" (click)="removeingredients(i)">
                          <img src="../../../assets/image/cross.svg"> 
                   </span>
               </label>
            </div>
       </div>
       <div class="meal-form__submit">
          <div>
              <button type="button" class="button" (click)="createMeal()">
                      Create Meal
              </button>
              <a class="button button--cancel" [routerLink]="['../']">cancel</a>
          </div>
       </div>
   </form>
</div>