<div class="meals">
     <div class="meals__title">
        <h1>
            <img src="../../assets/image/food.svg">
            your meals
        </h1>
        <a class="btn__add" [routerLink]="['../meals/new']" >
        <img src="../../assets/image/add-white.svg"> new Meal
    </a>
     </div>
     <div *ngIf="meals$ | async as meals; else loading">
             <div class="message" *ngIf="!meals.length">
                 <img src="/img/face.svg">
                 No meals, add a new meal to start
             </div>
            
             <app-list-item (remove)="onRemove($event)" *ngFor="let meal of meals" [item]="meal"></app-list-item>
     </div>
     <ng-template #loading>
         <div class="message">
            <img src="../../assets/image/loading.svg">
            Fetching meals...
         </div>
     </ng-template>
     
</div>